/* 
   CSS Styles for Pokémon Game Simulator
   Author: Rafael Castillo
   Description: Hoja de estilos para el simulador de juego de Pokémon.
   Version: 1.0
   Last Updated: Junio 2024
   -----------------------------------------------
   Este archivo contiene estilos CSS para el simulador de juego de Pokémon.
*/

/* Importacion del reset para los exploradores */
@import url('assets/css/reset.css');

/* Variables */
:root {
    /* Colores */
    --blanco: #fafafa;
    --negro: #101020;
    --verde: #02E2BA;
    --morado: #4A02E2;
    --gris-claro: #eee;
    --gris-oscuro: #ddd;

    /* Tipografía */
    --font-family: "Press Start 2P", system-ui;
    --font-size-base: 10px;
    --font-size-large: 2rem;
    --font-size-medium: 1.1em;
    --font-size-small: 0.7rem;

    /* Tamaños y Espacios */
    --radius: 5px;
    --padding-base: 1rem;
    --margin-base: 1.5rem;
    --margin-large: 2.5rem;

    /* Ancho de las Tarjetas */
    --card-width: calc(var(--font-size-base) * 15);
    /* Ejemplo de cálculo */
    --card-width-large: calc(var(--font-size-base) * 20);
}

/* Body */
body {
    background-image: url('assets/images/fondo_tile.png');
    background-repeat: repeat;
    color: var(--negro);
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

/* Utility Classes */
.fw-bold {
    font-weight: bold;
}

.margin-y {
    margin-bottom: var(--margin-base);
    margin-top: var(--margin-base);
}

.margin-y-0{
    margin-top: 0;
    margin-bottom: 0;
}

.txt-center{
    text-align: center;
}
/* Header */
header {
    background-color: var(--blanco);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
}

/* Menu */
.menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    font-size: x-large;
}

.menu-btn {
    cursor: pointer;
    min-width: 50px;
}


.menu-items {
    display: none;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    text-align: center;
    width: 100%;
}

.menu-items.active {
    animation: slideDown 0.3s ease;
    display: flex;
}

.menu-items li {
    border: 1px solid;
    border-radius: var(--radius);
    display: block;
    margin-bottom: var(--margin-base);
    padding: var(--padding-base) 0.7rem;
    width: 100%;
}

.menu-items a {
    color: #111;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
}

.view-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
        /* Desplazamiento inicial hacia arriba */
    }

    to {
        opacity: 1;
        transform: translateY(0);
        /* Sin desplazamiento final */
    }
}

/* Brand */
.brand {
    align-items: center;
    color: #000;
    display: flex;
    font-weight: bold;
    gap: 0.5rem;
    /* Espacio entre el ícono y el texto */
    text-decoration: none;
    word-wrap: inherit
}

/* Main */
main {
    background-color: var(--blanco);
    border: 10px solid var(--gris-claro);
    display: block;
    margin: 1rem auto;
    padding: 1rem 1rem;
}

main>div {
    margin: auto;
    max-width: 900px;
}

/* Footer */
footer {
    font-size: var(--font-size-medium);
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    display: block;    
}

/* Titles */
.titulo {
    font-style: normal;
    font-weight: 700;
    line-height: 1.8;
    margin-bottom: 2rem;
    margin-top: 0.9rem;
    text-align: center;
}

.subtitulo {
    font-style: normal;
    font-weight: 700;
    line-height: 1.7;
    margin-bottom: 1.9rem;
    margin-top: 0.9rem;
    text-align: center;
}

/* Button */
.btn {
    align-items: center;
    background-color: var(--verde);
    border-radius: var(--radius);
    color: var(--blanco);
    cursor: pointer;
    display: block;
    font-weight: bold;
    gap: 10px;
    font-size: var(--font-size-medium);
    justify-content: center;
    margin: 1rem auto;
    padding: 1rem 1.6rem;
    width: fit-content;
    transition: all 0.2s ease-out;
    white-space: nowrap;
}

.btn:hover {
    filter: brightness(0.85);
}

.btn:disabled {
    opacity: 0.8;
    background-color: gray;
    border-color: lightgray;
    color: darkgray;
}

/* Card */
.card {
    background-color: var(--blanco);
    border: 5px solid var(--gris-claro);
    border-radius: var(--radius);
    cursor: pointer;
    padding: .4rem .8rem;

    transition: all ease .3s;
}

.card:hover{
    background-color: var(--gris-claro);
}

/* Autor Card */
.autor_card {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.autor_avatar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 250px;
    text-align: center;
}

.autor_avatar img {
    display: block;
    width: 100%;
}

.autor_avatar ul {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0 auto;
    margin-block-start: 0;
    padding-inline-start: 0;
    /* Esto es por el explorador */
}

.autor_avatar ul>li>a {
    display: block;
    padding: 0.5em;
}

.autor_desc {
    padding: 20px;
    text-align: start;
    width: fit-content;
}

/* Nombre */
.nombre-container {
    margin: 2rem auto;
}

.nombre-container input[type="text"] {
    padding: 20px;
    display: block;
    margin: 5px auto;
    max-width:100%;
    border: 5px solid var(--verde);
    font-size: 1rem; /* Para evitar zoom en dispositivos móviles */
}

/* Selección de Pokémon */
.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.85rem;
    justify-content: space-evenly;
    margin: 2rem auto;
}

.pokemon-card {
   
    text-align: center;
    width: var(--card-width);
}

.pokemon-card:hover {
    transform: scale(1.01);
}

.pokemon-card img {
    height: 100px;
    width: 100px;
}

.pokemon-card.selected {
    background-color: var(--verde);
    border-color: var(--negro);
}

.pokemon-card p.tipo {
    padding: 0.3rem 0.7rem;
    font-size: var(--font-size-small);
    box-sizing: content-box;
    color: var(--blanco);
    border-radius: calc(var(--radius) * 5);
    background-color: var(--morado);
}

.marcador {
    border: var(--gris-oscuro) solid var(--radius);
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: .8rem  2rem;
    text-align: center;
    margin-bottom: 1rem;
}
.marcador .heading{
    color: var(--negro);
    font-weight: bold;
}

.options{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: .41rem;
    margin: auto;
}
 

.options .pkmn.card{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: start;
    vertical-align: middle;
}
.data-pkmn{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: .7rem;
    justify-content:space-around;
    white-space: nowrap;
}
.data-pkmn .hp-bar{
    display: block;
    height: .4rem;
    width: 100%;
    border-radius: 5px;
    background-color:var(--gris-oscuro);
    margin: 5px 0;
}
.hp-bar{
    width: 100%;    
    transition: all 0.3s ease;
}

.hp-bar:after {
    content: '';
    display: block;
    height: 100%; 
    transition: width .3s ease;
}

.data-pkmn #pokemon-seleccionado,
.data-pkmn #pokemon-rival{ 
    line-height: 1.5;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 2rem;
    display: inline-block;
}
.battle-log{
    border: 5px solid var(--gris-claro);
    margin-bottom: 2rem;
    height: 150px;
    overflow-y: scroll;
}
.moves{
    text-align: center;
}
.moves .ataques{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 2rem;
}


/* Media Queries */
@media (min-width: 768px) {
    body {
        font-size: 17px;
    }

    .contenedor {
        display: block;
        margin: 0 auto;
        max-width: 1046px;
    }
    main{
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .margin-y {
        margin-bottom: var(--margin-large);
        margin-top: var(--margin-large);
    }

    header {
        background-color: transparent;
        margin-top: 15px;
    }

    .menu {
        flex-direction: row;
        white-space: nowrap;
    }

    .menu-btn {
        display: none;
    }

    .menu-items {
        display: flex;
        flex-direction: row;
        gap: 1.6rem;
        justify-content: flex-end;
    }

    .menu-items li {
        border: none;
        margin-bottom: 0;
        padding: 0;
        width: auto;
    }
    .menu-items a{
        font-size: medium;
    }

    .autor_card {
        flex-direction: row;
    } 
    .pokemon-card {
        width: var(--card-width-large);
    }
    .options, .options .pkmn.card{
        flex-direction: row;
    }
}